# The Battle of Neighborhoods - Final Assignment

In this Final Assignment we will examine the Neighborhoods of Brussels in order to identify the best Neighborhoods for a young couple that recently moved to the Belgian capital. The Real Estate company recently added a additional service that offers their clients a tailored service including a detailed report on the best Neighborhoods based on the preferences of the client.

## 1. Introduction

A young couple recently moved to the Belgian capital for work and are wondering which of the Neighborhoods of Brussels will be the best to live in. Their interests include:  
1. The outdoors
2. Italian Restaurants
3. Cultural activities

They just saw an advertisment for a tailored service from a Real Estate company that will help them identify the top 3 Neighborhoods to choose based on their interests. Therefore, they contacted this Real Estate company and transmitted their interests.  
The young couple both are in their 30s and work full-time and don't know Brussels at all. 

The Real Estate company analyzes their interests and determines that the best way to come up with the best Neighborhoods they will need the coordinates of Brussels and combine this with the Foursquare location data.

## 2. Data

In order to determine the best Neighborhoods for the young couple the Real Estate company first analyzes how Brussels is divided. Brussels is the capital of Belgium and is divided in 19 municipalities, whith a defined Postal Code.  
Inside the municipalities there are different Neighborhoods, however, as they are only localities and don't have very defined limits nor Postal Codes, the Real Estate company decided to restrict their recommendation to one of the 19 municipalities in Brussels.  

To find a list of the 19 Brussels Municipalities the Real Estate company found the Wikipedia page that has a table that lists the 19 municipalities with their corresponding Postal Codes.

In order to get the Longitutde and Latitude coordinates of the 19 different municipalities, the Real Estate company has access to the Open Data website of Wallonia and Brussels that hosts a CSV file listing all Belgian Postal Codes with the names of the municipalities as well as their Longitude and Latitudes.

Once we have the latitude and longitude of the identified municipalities of Brussels we can then use Foursquare's location data to identify the type of venues in the different municipalities. The type of venues combined with the frequency of these venues inside of the identified municipalities could give us a good idea of which municipality would match the best the criteria's given by the young couple.

### 2.1 Scrapping and Cleaning the Wikipedia page

To start let us scrape the Wikipedia page that hosts the Table of the different 19 municipalities of Brussels.  

The first step is to install and import the different modules we will need to scrape and clean the Table. For this operation we will need Pandas and Numpy.

In [1]:
import pandas as pd
import numpy as np

To scrape the Wikiwand website we will use the Pandas read_html method that returns HTML tables into a list of DataFrame objects.  

The URL of the Wikipedia page that contains the Table is: "https://fr.wikipedia.org/wiki/R%C3%A9gion_de_Bruxelles-Capitale"

In [2]:
url = 'https://fr.wikipedia.org/wiki/R%C3%A9gion_de_Bruxelles-Capitale'

df_list = pd.read_html(url)

len(df_list)

16

We can see that read_html identified 16 different HTML tables. From navigating to the Wikipedia page we can identify that the table we are interested in is the second HTML table present. Therefore, let's only look at the second DataFrame object.

In [3]:
brussels_list = df_list[1]

brussels_list

,Repèresur lacarte,Commune,Code postal,Superficie(en km2),Population(au 1/1/2009),Population(au 1/1/2010),Population(au 1/1/2016),Population(au 1/1/2019)[36],Population(au 1/1/2020)[37],Évolution 2010-2020,Δ%
0,1.0,Anderlecht,1070,1774,101 371,104 647,116 494,118 920,120 009,+ 15 362,"+ 14,68 %"
1,2.0,Auderghem,1160,903,30 456,30 811,33 085,33 970,34 342,+ 3 531,"+ 11,46 %"
2,3.0,Berchem-Sainte-Agathe,1082,295,21 669,22 185,24 176,25 195,25 195,+ 3 010,"+ 13,56 %"
3,4.0,Ville de Bruxelles : Bruxelles Laeken Neder-Ov...,"Plusieurs : 1000, 1040, 1050 1020 1120 1130",3261,153 377,157 673,176 512,179 797,183 287,+ 25 614,"+ 16,24 %"
4,5.0,Etterbeek,1040,315,43 512,44 352,47 023,48 008,48 194,+ 3 842,"+ 8,66 %"
5,6.0,Evere,1140,507,35 372,35 803,39 439,41 588,42 444,+ 6 641,"+ 18,55 %"
6,7.0,Forest,1190,625,49 757,50 258,55 386,55 925,56 441,+ 6 183,"+ 12,30 %"
7,8.0,Ganshoren,1083,246,22 160,22 589,24 128,24 817,25 222,+ 2 633,"+ 11,66 %"
8,9.0,Ixelles,1050,634,80 312,80 183,85 274,86 675,87 385,+ 7 202,"+ 8,98 %"
9,10.0,Jette,1090,504,45 637,46 818,51 387,52 417,52 459,+ 5 641,"+ 12,05 %"
10,11.0,Koekelberg,1081,117,19 380,19 812,21 558,21 961,21 886,+ 2 074,"+ 10,47 %"
11,12.0,Molenbeek-Saint-Jean,1080,589,85 735,88 181,95 861,96 501,97 365,+ 9 184,"+ 10,41 %"
12,13.0,Saint-Gilles,1060,252,45 712,46 981,50 024,49 715,49 094,+ 2 113,"+ 4,50 %"
13,14.0,Saint-Josse-ten-Noode,1210,114,25 185,26 338,27 228,27 087,27 199,+ 861,"+ 3,27 %"
14,15.0,Schaerbeek,1030,814,118 275,121 232,131 375,131 547,131 548,+ 10 316,"+ 8,51 %"
15,16.0,Uccle,1180,2291,77 336,77 589,81 699,82 742,83 631,+ 6 042,"+ 7,79 %"
16,17.0,Watermael-Boitsfort,1170,1293,24 166,24 260,24 614,25 172,25 318,+ 1 058,"+ 4,38 %"
17,18.0,Woluwe-Saint-Lambert,1200,722,50 163,50 749,54 144,54 144,57 583,+ 6 834,"+ 13,47 %"
18,19.0,Woluwe-Saint-Pierre,1150,885,38 957,39 077,41 124,41 789,42 066,+ 2 989,"+ 7,65 %"
19,NaN,Totaux,NaN,16136,1 068 532,1 089 538,1 180 531,1 200 325,1 211 026,+ 121 488,"+ 11,15 %"

From the above DataFrame we can see that the table includes a lot of information that we don't need for the moment. Let's only keep the relevant columns, "Commune" and "Code postal" which translates into "municipalities" and "Postal Code".

In [4]:
brussels_list =  brussels_list [['Commune', 'Code postal']]

brussels_list

,Commune,Code postal
0,Anderlecht,1070
1,Auderghem,1160
2,Berchem-Sainte-Agathe,1082
3,Ville de Bruxelles : Bruxelles Laeken Neder-Ov...,"Plusieurs : 1000, 1040, 1050 1020 1120 1130"
4,Etterbeek,1040
5,Evere,1140
6,Forest,1190
7,Ganshoren,1083
8,Ixelles,1050
9,Jette,1090
10,Koekelberg,1081
11,Molenbeek-Saint-Jean,1080
12,Saint-Gilles,1060
13,Saint-Josse-ten-Noode,1210
14,Schaerbeek,1030
15,Uccle,1180
16,Watermael-Boitsfort,1170
17,Woluwe-Saint-Lambert,1200
18,Woluwe-Saint-Pierre,1150
19,Totaux,NaN

The table looks clean. However, we can see that the fourth row has more than one name and more than one postal code. That's because the central municipality of Brussels includes, aside of itself 3 other regions that formerly were seperate municipalities but are now attached to the municipality of Brussels. As they were formerly municipalities these 3 regions have distinct postal codes.  

Therefore, we will add these regions to the complete DataFrame.  

First let's have a look to the fourth row in detail.

In [5]:
city_brussels_PostalCode = brussels_list.iloc[3]

city_brussels_PostalCode

Commune        Ville de Bruxelles : Bruxelles Laeken Neder-Ov...
Code postal          Plusieurs : 1000, 1040, 1050 1020 1120 1130
Name: 3, dtype: object

In [6]:
city_brussels_name = city_brussels_PostalCode['Commune']

print(city_brussels_name)

Ville de Bruxelles : Bruxelles Laeken Neder-Over-Heembeek Haren

We can see that the row includes 4 distinct names. Namely: Bruxelles, Laeken, Neder-Over-Heembeek, and Haren. Therefore, let's create a list that includes these 4 municipalities names.

In [7]:
city_brussels_name_list = city_brussels_name.split(" ")
city_brussels_name_list

['Ville',
 'de',
 'Bruxelles\xa0:',
 'Bruxelles',
 'Laeken',
 'Neder-Over-Heembeek',
 'Haren']

In [8]:
city_brussels_name_lists = city_brussels_name_list[3:7]

city_brussels_name_lists

['Bruxelles', 'Laeken', 'Neder-Over-Heembeek', 'Haren']

Let's have a look at the postal codes in this row.

In [9]:
city_brussels_PostalCode_lists = city_brussels_PostalCode['Code postal'].split(" ")

city_brussels_PostalCode_lists

['Plusieurs\xa0:', '1000,', '1040,', '1050', '1020', '1120', '1130']

We can see that there are more postal codes than names. That's because "Bruxelles" had a sub-list of postal codes; 1000, 1040, and 1050.

In [10]:
city_brussels_PostalCode_lists = city_brussels_PostalCode_lists[1:7]

city_brussels_PostalCode_lists

['1000,', '1040,', '1050', '1020', '1120', '1130']

Upon further inspection we can see that two of these postal codes; 1040 and 1050, are already present in the table. Therefore, we will only keep 1000 for Bruxelles.

In [11]:
del city_brussels_PostalCode_lists[1:3]

The last step is to remove the comma that appears after 1000.

In [12]:
city_brussels_PostalCode_lists = [city_brussels_PostalCode_lists[0].replace('1000,', '1000'), city_brussels_PostalCode_lists[1],city_brussels_PostalCode_lists[2], city_brussels_PostalCode_lists[3]]

city_brussels_PostalCode_lists

['1000', '1020', '1120', '1130']

With both list clean we are ready to merge them and create a sub-DataFrame.

In [13]:
brussels_city_df = pd.DataFrame({'Commune':city_brussels_name_lists, 'Code postal': city_brussels_PostalCode_lists})

brussels_city_df

               Commune Code postal
0            Bruxelles        1000
1               Laeken        1020
2  Neder-Over-Heembeek        1120
3                Haren        1130

Now its time to fuse the two DataFrames together.

In [14]:
full_df = brussels_list.append(brussels_city_df, ignore_index=True)

full_df

,Commune,Code postal
0,Anderlecht,1070
1,Auderghem,1160
2,Berchem-Sainte-Agathe,1082
3,Ville de Bruxelles : Bruxelles Laeken Neder-Ov...,"Plusieurs : 1000, 1040, 1050 1020 1120 1130"
4,Etterbeek,1040
5,Evere,1140
6,Forest,1190
7,Ganshoren,1083
8,Ixelles,1050
9,Jette,1090
10,Koekelberg,1081
11,Molenbeek-Saint-Jean,1080
12,Saint-Gilles,1060
13,Saint-Josse-ten-Noode,1210
14,Schaerbeek,1030
15,Uccle,1180
16,Watermael-Boitsfort,1170
17,Woluwe-Saint-Lambert,1200
18,Woluwe-Saint-Pierre,1150
19,Totaux,NaN
20,Bruxelles,1000
21,Laeken,1020
22,Neder-Over-Heembeek,1120
23,Haren,1130

We can see that this Dataframe still includes the 'faulty' row. Furthermore, it includes a Total row that has a *NaN* value. Therefore, let's drop these two rows.

In [15]:
full_df.drop([3, 19], inplace=True)

Lastly, let's sort the DataFrame by increasing number of postal code.

In [16]:
full_df.sort_values(by=['Code postal'], ignore_index=True)

                  Commune Code postal
0               Bruxelles        1000
1                  Laeken        1020
2              Schaerbeek        1030
3               Etterbeek        1040
4                 Ixelles        1050
5            Saint-Gilles        1060
6              Anderlecht        1070
7    Molenbeek-Saint-Jean        1080
8              Koekelberg        1081
9   Berchem-Sainte-Agathe        1082
10              Ganshoren        1083
11                  Jette        1090
12    Neder-Over-Heembeek        1120
13                  Haren        1130
14                  Evere        1140
15    Woluwe-Saint-Pierre        1150
16              Auderghem        1160
17    Watermael-Boitsfort        1170
18                  Uccle        1180
19                 Forest        1190
20   Woluwe-Saint-Lambert        1200
21  Saint-Josse-ten-Noode        1210

In [17]:
full_df.shape

(22, 2)

We see that the DataFrame now includes 21 postal codes, which corresponds to the 19 municipalities of Brussels plus the two added sub-regions of the Brussels municipality.

## 2.2 Adding the Latitude and Longitude data to the municipalities.

In this section we will explore how to add the Latitude and Longitude coordinates to the municipalities using the postal codes as an index. 

The CSV used is openly accessible from the Open Data Wallonie-Bruxelles platform. [Link](https://www.odwb.be/explore/dataset/code-postaux-belge/information/)

As this CSV uses a semicolon to seperate the data we will have to specify this when reading the CSV into a DataFrame.

In [18]:
csv = 'https://www.odwb.be/explore/dataset/code-postaux-belge/download/?format=csv&timezone=Europe/Berlin&lang=fr&use_labels_for_header=true&csv_separator=%3B'

lat_long = pd.read_csv(csv, sep=';')

lat_long.head()

,Code,Localite,Longitude,Latitude,Coordonnees,Geom
0,1050,Ixelles,4.381571,50.822285,"50.8222854,4.3815707",NaN
1,1081,Koekelberg,4.325708,50.862263,"50.8622633,4.3257084",NaN
2,1130,Haren,4.412571,50.891966,"50.8919661,4.41257087324",NaN
3,1150,Woluwe-Saint-Pierre,4.443297,50.829243,"50.8292429,4.4432967",NaN
4,1315,Incourt,4.798944,50.691800,"50.6918004,4.798944",NaN

Like before, we don't need all the columns present in the CSV. The columns that interest us are the Longitude and Latitude. Furthermore, we will need one column to act as a key when we will merge the two DataFrame together. As the postal code is unique the 'Code' column will also have to be kept.

In [19]:
lat_long = lat_long[['Code', 'Latitude', 'Longitude']]

Moreover, in order to use the postal code as an index we will have to rename the column to match the column of the postal code in our **brussels_df** DataFrame.

In [20]:
lat_long.rename(columns = {'Code': 'Code postal'}, inplace = True)

We are ready to merge the **full_df** DataFrame with the **lat_long** DataFrame on the common column 'Code postal'. 
This will add the latitude and longitude coordinate to each municipality identified previously.

In [28]:
brussels_df = full_df.merge(lat_long,on=['Code postal'])

ValueError: You are trying to merge on object and int64 columns. If you wish to proceed you should use pd.concat

The error message indicated that the columns in the two DataFrames 'Code postal' used as a unique key don't have the same datatype. Let's have a look at both DataFrames and identify the data types of each column.

In [29]:
full_df.dtypes

Commune        object
Code postal    object
dtype: object

We can see that the two columns of the **full_df** DataFrame have the data type object. This is correct for the 'Commune' columns as we are speaking about the names of the municipalities. However, the 'Code postal' column should not have the object datatype but a numeric data type.  

Now let's look at the data types of the **lat_long** DataFrame.

In [30]:
lat_long.dtypes

Code postal      int64
Latitude       float64
Longitude      float64
dtype: object

We see that the column 'Code postal' of the **lat_long** DataFrame has the data type *int64*. Therefore, let's convert the 'Code postal' of the **full_df** DataFrame to int64.  
That way can then finally merge both DataFrames.

In [44]:
full_df = full_df.astype({'Code postal':'int64'})

Let's verify if the data type has been well converted.

In [37]:
full_df.dtypes

Commune        object
Code postal     int64
dtype: object

We can see now that the 'Code postal' column in both DataFrames have the same data type and can be safely merged on this column.

In [38]:
brussels_df = full_df.merge(lat_long,on=['Code postal'])

In [40]:
brussels_df

                  Commune  Code postal   Latitude  Longitude
0              Anderlecht         1070  50.838141   4.312340
1               Auderghem         1160  50.815657   4.433139
2   Berchem-Sainte-Agathe         1082  50.863984   4.292702
3               Etterbeek         1040  50.836851   4.389510
4                   Evere         1140  50.870452   4.402160
5                  Forest         1190  50.809143   4.317751
6               Ganshoren         1083  50.871240   4.317510
7                 Ixelles         1050  50.822285   4.381571
8                   Jette         1090  50.877763   4.326090
9              Koekelberg         1081  50.862263   4.325708
10   Molenbeek-Saint-Jean         1080  50.854355   4.322778
11           Saint-Gilles         1060  50.826741   4.345668
12  Saint-Josse-ten-Noode         1210  50.853074   4.372336
13             Schaerbeek         1030  50.867604   4.373712
14                  Uccle         1180  50.801820   4.337235
15    Watermael-Boitsfort         1170  50.799394   4.415818
16   Woluwe-Saint-Lambert         1200  50.846693   4.428484
17    Woluwe-Saint-Pierre         1150  50.829243   4.443297
18              Bruxelles         1000  50.846557   4.351697
19                 Laeken         1020  50.883392   4.348713
20    Neder-Over-Heembeek         1120  50.897796   4.390489
21                  Haren         1130  50.891966   4.412571

The brussels_df DataFrame now includes the names of the municipalities, their corresponding postal code, and their latitude and longitude coordinates. This DataFrame can then be used to identify the municipalities on a map.

## 2.3 Visualization of the municipalities

In this section we will visualize the identified municipalities on a Map of Brussels.  

First lets install and import the need packages and modules.

In [41]:
import folium #package used to visualize a map

from geopy.geocoders import Nominatim # convert an address into latitude and longitude values

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

# import k-means from clustering stage
from sklearn.cluster import KMeans

import numpy as np # library to handle data in a vectorized manner

print('packages installed and imported')

import json

packages installed and imported

Let's use the Nominatim geolocator to find out the latitude and longitude of Brussels.

In [42]:
address = 'Brussels'

geolocator = Nominatim(user_agent="br_explorer")
location = geolocator.geocode(address)
latitude = location.latitude
longitude = location.longitude
print('The geograpical coordinate of Brussels are: {}, {}.'.format(latitude, longitude))

The geograpical coordinate of Brussels are: 50.8465573, 4.351697.

We'll use Brussels latitude and longtiude to center the Folium map and add markers to the identified municipalities on the map.

In [43]:
map_brussels = folium.Map(location=[latitude, longitude], zoom_start=10)

# add markers to map
for lat, lng, municipality in zip(brussels_df['Latitude'], brussels_df['Longitude'], brussels_df['Commune']):
    label = '{}'.format(municipality)
    label = folium.Popup(label, parse_html=True)
    folium.CircleMarker(
        [lat, lng],
        radius=5,
        popup=label,
        color='blue',
        fill=True,
        fill_color='#3186cc',
        fill_opacity=0.7,
        parse_html=False).add_to(map_brussels)  
    
map_brussels

## 3. Methodology 

This section will use the Foursquare API to identify the different types of venues present in the different municipalities. Calculating the frequency of appearance of the different types of venues by municipalities will in turn be used to cluster the municipalities in similar municipalities.  
From there we wil analyze the different clusters in order to identify the clusters that respond the best to the criteria's given by the young couple.